

Release
Debug

/Packing Net/Packing Net/obj/Debug/Pages/UserManagement.baml
/Packing Net/Packing Net/obj/Debug/Pages/UserManagement.g.cs
/Packing Net/Packing Net/obj/Debug/Pages/UserManagement.g.i.cs

Packing Net/PackingClassLibrary/obj/Debug/edmxResourcesToEmbed/Sage_x3v6.csdl
Packing Net/PackingClassLibrary/obj/Debug/edmxResourcesToEmbed/Sage_x3v6.msl
Packing Net/PackingClassLibrary/obj/Debug/edmxResourcesToEmbed/Sage_x3v6.ssdl
Packing Net/PackingClassLibrary/obj/Debug/PackingClassLibrary.pdb
Packing Net/PackingClassLibrary/obj/Debug/PackingClassLibrary.csproj.FileListAbsolute.txt
Packing Net/PackingClassLibrary/obj/Debug/PackingClassLibrary.csproj.FileListAbsolute.txt
Packing Net/PackingClassLibrary/obj/Debug/PackingClassLibrary.csproj.FileListAbsolute.txt